@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    background-color: #EFEFEF;
    
}

.navbar-custom {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.navbar-brand{
  font-size: 0.9.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
}


.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item{
  margin: 0px 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}

.nav-link{
  color: #B4ADEA !important;
}

.nav-link:hover{
  text-decoration: underline;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-jumbo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}


.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
.wrapper .dynamic-txts{
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #BCED09;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 100%;
  background: black;
  border-left: 2px solid #BCED09;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}



section {
  padding-bottom: 3rem;
}

.content {
padding-bottom: 1rem;
font-weight: 600 !important;
}

.content-h2{
  text-decoration: underline !important;
  padding-bottom: 1rem;
  font-weight: 600 !important;
  color: #FF47DA;
}

.img-fluid{
  height: 65vh;
  border-radius: 50%;
  
}


