/* Google Fonts Import - Font Family: Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&display=swap");

/* Body Element Styling  */

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #efefef;
}

/* Navbar Styling */
.navbar-custom {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.navbar-brand {
  font-size: 0.9.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item {
  margin: 0px 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}

.nav-link {
  color: #b4adea !important;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Jumbotron Styling */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg-jumbo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Typing Text Effect */

.wrapper {
  display: flex;
}
.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
.wrapper .dynamic-txts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #bced09;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 100%;
  background: black;
  border-left: 2px solid #bced09;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* About Me Content Styling */

.content {
  font-weight: 600 !important;
}

.content-h2 {
  text-transform: uppercase;
  text-decoration: underline !important;
  padding-bottom: 1rem;
  font-size: 30px;
  font-weight: 560 !important;
  color: #F6511D;
  margin-top: 15px;
}

/* Profile Pic Styling */
.img-fluid {
  height: 65vh;
  border-radius: 50%;
}

/* My Skills and Icons Styling  */

.row{
  margin-top: 30px;
}

.brand-icons{
  margin-right: 0.5rem;
  color: white;
  font-size: 40px;
  position: relative;
  bottom: 10px;
}

.skill{
  position: absolute;
  bottom: 52%;
  padding-bottom: 1rem;
  font-weight: 560 !important;
  color: #bced09;
}
.skills {
  background-color: #46494c;
  padding-top: 3rem !important;
  width: 100%;
  margin: 60px auto;
  padding: 20px;
}

/* Skills Styling For Bar */

.skills li {
  list-style: none !important;
  margin-bottom: 50px;
  background: #e9e5e2;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e1ddd9),
    to(#e9e5e2)
  );
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
  height: 20px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

.skills li h3 {
  position: relative;
  top: -20px;
  font-size: 16.5px;
  font-weight: 600;
  color: white;
 
}

.bar {
  height: 18px;
  margin: 1px 2px;
  position: absolute;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.html {
  width: 90%;
  animation: html 2.7s ease-out;
  -webkit-animation: html 2.7s ease-out;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fb4a21),
    to(#fb4a21)
  );
}

.css {
  width: 80%;
  animation: css 2.7s ease-out;
  -webkit-animation: css 2.7s ease-out;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fbff12),
    to(#fbff12)
  );
}

.js {
  width: 75%;
  animation: js 2.7s ease-out;
  -webkit-animation: js 2.7s ease-out;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#00bbf9),
    to(#00bbf9)
  );
}

.py {
  width: 90%;
  animation: py 2.7s ease-out;
  -webkit-animation: py 2.7s ease-out;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#89fc00),
    to(#89fc00)
  );
}

.sql {
  width: 65%;
  animation: sql 2.7s ease-out;
  -webkit-animation: sql 2.7s ease-out;
  background-color: #f674a4;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff01fb),
    to(#ff01fb)
  );
}

@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes js {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes py {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes sql {
  0% {
    width: 0px;
  }
  100% {
    width: 65%;
  }
}

/* Cards: Project Styling */

h2.sectionHeading{
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  font-size: 30px;
  font-weight: 550 !important;
  color: #ff0f80;
  margin-left: 10px;
}

.cardContainer {
  margin-bottom: 15px;
}
.card {
  margin: 0 auto;
}

img.card-img-top{
height: 65vh;
}

h5.card-title{
  font-weight: bold;
}

p.card-text{
  font-size: 14px;
  font-weight: normal;
}


/* Button Styling for Cards (Projects) */

.custom-bnt{
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
}

.bnt-1{
  background-color: black;
}

.bnt-1:hover {
  background-image: linear-gradient(to right, #fe2483, #ec8c69, #f7186a , #FBB03B);
box-shadow: 0 4px 15px 0 rgba(201, 2, 55, 0.75);
}

.bnt-2{
  background-color: black;
}

.bnt-2:hover{
  background-image: linear-gradient(to right, #e6ff00, #ff9a44, #ef9d43, #e6ff00);
    box-shadow: 0 4px 15px 0 rgb(242, 255, 0);
}

.bnt-3{
  background-color: black;
}

.bnt-3:hover{
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

/* Contact Section Styling */

.contact-heading{
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  font-size: 30px;
  font-weight: 550 !important;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
}

.page-section-contact {
  padding-bottom: 3rem;
}

#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/bg-skill.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  
 }

.contact-links{
  display: flex;
  width: 90%;
  justify-content: space-around;
  text-align: center;
  padding-top: 30px;
  font-size: 48px;
  list-style: none;
  
}

.contact-links a{
  color: white;
}

.contact-links a:hover{
  color: #bced09;
}

/* Footer Styling */
footer {
  font-weight: 500;
  letter-spacing: 0.1rem;
  bottom: 0;
  width: 100%;
  height: 6vh;
  background: black;
  color: #bebbb9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

footer span {
  color: #e6ff00;
}

/* Media queries to apply different styles for different media screens e.g. Mobile or Tablet */
@media screen and (max-width: 768px) {
  header .wrapper {
    display: none;
  }
  footer span{
    display: none;
  }

  .brand-icons{
    font-size: 16px;
  }
}
